artifacts/
bin/
build/
cache/
genfiles/
node_modules/
typechain/

*.pid
*.log
*.new
*.bak

.DS_Store

.vscode/
.env
solc-input-*.json
.idea/

node_modules
.env
coverage
coverage.json
typechain

# Hardhat files
cache
artifacts
/.idea/
/eth/
/contracts/combined.json

node_modules

#Buidler files
cache
artifacts
